extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
        include ../static/style.css 
        include ../static/styleContact.css

block content
    div.container
        h1 Contact Us
        form(action="/contact", method="POST" class="myForm")
            input(type="text", name="name", class="myInput", placeholder="Enter Your Name")
            input(type="email", name="email", class="myInput", placeholder="Enter Your Email id")
            input(type="phone", name="phone", class="myInput", placeholder="Enter Your Phone")
            input(type="desc", name="desc", class="myInput", placeholder="Enter Your Address")
            button.btn
                | submit