h1{
    text-align: center;
    margin: 12px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.myInput{
    width:  40%;
    padding: 6px;
    margin: 8px;
    border: 2px solid #c31b1b;
    border-radius: 12px;
    font-size: 16px;
}
.myForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 12px;
    color: white;
    background-color: rgb(221, 29, 29);
    cursor: pointer;
}
.container{
    min-height: 80vh;
    margin: 430x 0;
    
}